.App {
  text-align: center;
}
.App-header {
  background-color: #7db8f0bb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #b1b1b1;
}
.btn-group button {
  background-color: #1487f3bb; /* Green background */
  border: 1px solid rgba(153, 0, 255, 0.247); /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.btn-enviar button {
  background-color: #1487f3bb; /* Green background */
  color: black  ; /* White text */
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #7500e2;
}
